# Chapitre 2: Fusion des différentes tables de données

Nous avons à cette étape fusinner toutes les tables afin d'avoir une grande base de données contenant toutes les informations. Chaque table contient une clé qui permets de les référencer et donc de les fusionner entre elles.

In [ ]:
reduce_mem_usage(train)
reduce_mem_usage(weather_train)
reduce_mem_usage(building_metadata)

In [ ]:
train = train.merge(building_metadata, on='building_id', how='left')
alltrain = train.merge(weather_train, on=['site_id','timestamp'], how='left')
reduce_mem_usage(alltrain)
del building_metadata,weather_train,train
gc.collect()

Memory usage after optimization is: 1041.10 MB
Decreased by 0.0%

292

In [ ]:
alltrain.to_csv (r'/content/drive/MyDrive/Kaggle/alltrain.csv', index = False, header=True)

In [ ]:
np.shape(alltrain)

(20216100, 16)

La base de données complète contient au total 20216100 individus et 16 variables.

## Analyse de la table alltrain

In [ ]:
alltrain.head()

In [ ]:
alltrain.shape

(20216100, 16)

In [ ]:
alltrain.describe()

In [ ]:
alltrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20216100 entries, 0 to 20216099
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   building_id         int64
 1   meter               int64
 2   timestamp           object
 3   meter_reading       float64
 4   site_id             int64
 5   primary_use         object
 6   square_feet         int64
 7   year_built          float64
 8   floor_count         float64
 9   air_temperature     float64
 10  cloud_coverage      float64
 11  dew_temperature     float64
 12  precip_depth_1_hr   float64
 13  sea_level_pressure  float64
 14  wind_direction      float64
 15  wind_speed          float64
dtypes: float64(10), int64(4), object(2)
memory usage: 2.6+ GB